html, body {
    margin: 0;
    padding: 0;
}
.container {
    background-image: url("rover.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container > * {
    padding: 0% 5%;
    width:100%;
    color: white;
    list-style-position:inside;
}

.container h1 {
    text-align: center;
}